*
{
	margin:0;
	padding:0;
}
body
{
	font-family: sans-serif;
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
	background-image: linear-gradient(to right, #feefda, #feefda);
}
.navbar
{
	background-image: linear-gradient(to right, #feefda, #feefda);
	padding: 0 !important;
}
.navbar-brand img
{
	height: 100px;
	margin-top: 10px;
}
.navbar-nav li
{
	padding: 0 15px;
}
.navbar-nav li a
{
	color: #433520 !important;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}

/*------ banner Section------*/

#banner
{
	background-image: linear-gradient(to right, #feefda, #feefda);
	color: #fff;
	padding-top: 5%
}
#banner img
{
	margin-top: -10%;
	padding-bottom: 50px;
}
.promo-title
{
	font-size: 50px;
	font-weight: 600;
	color: #433520;
	padding-top: 60px;
}
.promo-subtitle
{
	font-size: 20px;
	font-weight: 300;
	color: #111111;
	margin-top: 100 px;
}

#banner .btn-primary
{
	box-shadow: none;
	padding-left: 8px 25px;
	margin-top: 20px;
	border: none;
	opacity: 90%;
	height: 60px;
	width: 200px;
	background-image: linear-gradient(to right, #111111, #433520);
}
#banner a
{
	color: #433520;
	text-decoration: none;
}
.bottom-img
{
	width: 100%;
}
/*-----------SERVICES SECTION------*/
#services
{
	padding: 80px;
	background-image: linear-gradient(to right, #feefda, #feefda);
}
.service-img
{
	margin-top: 10px;
	border-radius: 300px;
	height: 330px;
	width: 350px;
}
.services
{
	padding: 20px;
}
.services
{
	padding-left: 5px;
	margin-top: 25px;
}
.ramenButton
{
	margin-top: 70px;
	height: 90px;
	width: 300px;
	border-radius: 5px;
	border-color: #fad36f;
	font-size: 20px;
	background-image: linear-gradient(to right, #fad36f, #fad36f);
	font-family: montserrat;
}
.intro-para
{
	margin-top: 60px;
	font-size: 20px;
	font-weight: 300;
	color: #111111;
}

.title::before
{
	content: '';
	background: #433520;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
/*.title::after
{
	content: '';
	background: #feefda;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}*/
#services .btn-primary
{
	box-shadow: none;
	padding-left: 8px 25px;
	margin-top: 80px;
	border: none;
	opacity: 90%;
	height: 60px;
	width: 200px;
	background-image: linear-gradient(to right, #111111, #433520)
}

/*-----------TAKEAWAY SECTION------*/
#takeaway
{
	background: #feefda;
	padding-bottom: 70px;
	padding-top: 70px;
}
.boxOne
{
	background: #feefda;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.takeAwayContainer{
	background: #911c21;
}



/*-------TESTIMONIALS----
#testimonials
{
	margin:100px;
}
.testimonials
{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}
.testimonials img
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 10px;
}
.user-details
{
	display: inline-block;
	font-size: 12px;
}*/

/*---------social media secion----*/
#social-media
{
	background: #f8f9fa;
	padding: 100px 0;
}
#social-media p
{
	font-size: 36px;
	font-weight: 600px;
	margin-bottom: 36px;
}
.social-icons img
{
	width: 60px;
	transition:0.5s;
}
.social-icons a:hover img
{
	transform: translateY(-10px);
}

/*------FOOTER-----*/
#footer
{
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	color: #fff; 
}
.footer-img
{
	width: 100%;
}
.footer-box
{
	padding: 20px;
}
.footer-box img
{
	width: 120px;
	margin-bottom: 20px;
}